body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  
}

.article-holder {
  
}

article {
  width: 600px;
  margin: auto;
  overflow: hidden;
  transition:
  top 0.55s cubic-bezier(0.855, -0.505, 0.225, 1.275),
  width 0.55s cubic-bezier(0.855, -0.505, 0.225, 1.275),
  left 0.55s cubic-bezier(0.855, -0.505, 0.225, 1.275),
   height 0.55s cubic-bezier(0.855, -0.505, 0.225, 1.275),
   transform 0.55s cubic-bezier(0.855, -0.505, 0.225, 1.275);
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin-bottom: 40px;
}

.articleShadow {
  margin-bottom: 40px;
}

article figure {
  margin: 0;
  height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
}

article img {
  width: 100vw;
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

article h1 {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180.52deg, rgba(0, 0, 0, 0) 56.56%, rgba(0, 0, 0, 0.3) 71.45%, rgba(0, 0, 0, 0.4) 97.63%);
  width: 100%;
  height: 180px;
  margin: 0;
  line-height: 280px;
  color: white;
}

.article__inner {
  font-size: 18px;
  line-height: 1.6;
  width: 600px;
  margin: auto;
  padding: 50px 0;
  text-align: left;
}

body.no-overflow {
  overflow: hidden;
}

.article__close {
  position: fixed;
  font-size: 35px;
  color: white;
  top: 20px;
  right: 30px;
  z-index: 2;
}